body{
    position: relative;
}

.modal-wrapper {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:none;
    z-index: 10;
    height:100%;
}
.overlay{
    background: rgba(0, 0, 0, 0.70);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
   
    z-index: 10;
}
.modal{
    width:960px;
    height:407px;
    background:#fff;
    position: absolute;
    top: 20%;
    transform:translateY(-20%);
    left: 50%;
    transform:translateX(-50%);
    z-index: 20;
}
.modal .Item-actions__price,.Item-actions__count{
    margin-right: 30px;
}
.modal .Item-actions{
    margin-left: auto;
}
.modal .close{
    position: absolute;
    right: 32px;
    top: 32px;
    cursor:pointer;
}
.modal__title{
    color: #000;

font-family: Arial;
font-size: 32px;
font-style: normal;
font-weight: 700;
padding-left: 20px;
}

.modal .sum{
    font-weight: 700;
    color:#000;
    margin-left: auto;
    text-align: right;
    margin-top: 20px;
    margin-right: 120px;
}